/* src/App.css */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 1024px) {
  section {
    height: auto;
    padding: 60px 40px;
  }
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  p {
    font-size: 16px;
  }
}
/* GLOBAL CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Ensure body doesn't add extra space */
body {
    overflow-x: hidden; /* Prevents horizontal scrollbar */
    margin: 0;
    padding: 0;
}